/*  BASE -------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1080px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 54%;
  }
}

body {
  font-size: 1.6rem;
  background-color: #E6ECF0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 3rem;
}
